[submodule ".vim/bundle/colorschemes"]
	path = .vim/bundle/colorschemes
	url = https://github.com/Yokipi/vim-colorschemes
[submodule ".vim/bundle/startify"]
	path = .vim/bundle/startify
	url = https://github.com/Yokipi/vim-startify.git
